{% extends "exams/teacher/base.html" %}

{% block content %}

<section class="exam-form-page">

    <div class="exam-form-header">

        <div>

            <span class="exam-kicker">
                Exam configuration
            </span>

            <h1>
                {% if exam %}
                    Edit Exam
                {% else %}
                    Create Exam
                {% endif %}
            </h1>

            <p>
                Configure assessment access, timing,
                attempts and result behavior.
            </p>

        </div>

    </div>


    <form
        method="post"
        class="exam-builder-form"
    >

        {% csrf_token %}

        <div class="exam-builder-fields">
            {{ form.as_p }}
        </div>


        <div class="exam-builder-actions">

            <button
                type="submit"
                class="exam-open-button"
            >
                Save Exam
            </button>

            <a
                href="{% url 'exams:teacher_exam_list' %}"
                class="exam-secondary-button"
            >
                Cancel
            </a>

        </div>

    </form>

</section>

{% endblock %}
