<h2>Learning Resources</h2>


{% for resource in resources %}

<hr>

<h3>{{ resource.title }}</h3>

<p>
{{ resource.description }}
</p>

<p>
Type:
{{ resource.resource_type }}
</p>


{% if resource.course %}

<p>
Course:
{{ resource.course.title }}
</p>

{% endif %}


{% if resource.module %}

<p>
Module:
{{ resource.module.title }}
</p>

{% endif %}


{% if resource.file %}

<a href="{{ resource.file.url }}">
Download File
</a>

{% endif %}


{% if resource.external_url %}

<a href="{{ resource.external_url }}">
Open External Resource
</a>

{% endif %}


{% empty %}

<p>
No resources available.
</p>

{% endfor %}