<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
</head>

<body>

    <h1>AeroESP Student Dashboard</h1>

    <p>
        Welcome {{ request.user.username }}
    </p>

    <p>
        Aerospace field:
        {{ request.user.student_profile.get_primary_aerospace_field_display }}
    </p>

    <form
        method="post"
        action="{% url 'accounts:logout' %}"
    >
        {% csrf_token %}
        <button type="submit">
            Logout
        </button>
    </form>

</body>
</html>