<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AeroESP Login</title>
</head>

<body>

    <h1>AeroESP</h1>
    <h2>Login</h2>

    {% if form.errors %}
        <p>Username or password is incorrect.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        {% if next %}
            <input
                type="hidden"
                name="next"
                value="{{ next }}"
            >
        {% endif %}

        <button type="submit">
            Login
        </button>

    </form>

</body>
</html>